# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.env
.venv
venv/
env/

# Tools / cache
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
ruff_cache/
.ipynb_checkpoints/

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Data / secrets
*.env.local
.env.*
*.pem
*.key
